@{
    Layout = "~/Views/Shared/_AdminSidebar.cshtml";
}
@model List<deliveryapp.Models.Restaurant>
<div>
    <h2>Restaurant</h2>
    <button id="btnCreate">Crear</button>
    <button id="btnEdit">Editar</button>
    <div id="overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;
        background-color:rgba(0,0,0,0.5); z-index:1000;"></div>
    <div id="formModal">
        <button id="btnClose">X</button>
        <div id="formContent"></div>
    </div>

    <div class="Restaurants-List">
        <div class="grid-table">
            <div class="grid-header">
                <div class="grid-cell">Nombre</div>
                <div class="grid-cell">Imagen</div>
                <div class="grid-cell">Email</div>
                <div class="grid-cell">Teléfono</div>
                <div class="grid-cell">Editar</div>
                <div class="grid-cell">Eliminar</div>
            </div>
            <div class="grid-row">
                <div class="grid-cell">restaurant1</div>
                <div class="grid-cell"><img src="" alt="" srcset=""></div>
                <div class="grid-cell">test@gmail.com</div>
                <div class="grid-cell">98345678</div>
                <div class="grid-cell"><button class="btn-primary">🛠</button></div>
                <div class="grid-cell"><button class="btn-danger">🗑️</button></div>
            </div>

            @foreach (var item in Model)
            {
                <div class="grid-row">
                    <div class="grid-cell">@item.Name</div>
                    <div class="grid-cell"><img src="@item.ImageUrl" alt="" srcset=""></div>
                    <div class="grid-cell">@item.Email</div>
                    <div class="grid-cell">@item.PhoneNumber</div>
                    <div class="grid-cell"><button class="btn-primary">🛠</button></div>
                    <div class="grid-cell"><button class="btn-danger">🗑️</button></div>
                </div>
            }
            
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $('#btnCreate').click(function () {
            $.get('@Url.Action("Create", "RestaurantManagement")', function (data) {
                $('#formContent').html(data);
                $('#overlay, #formModal').fadeIn();
            });
        });

        $('#btnEdit').click(function () {
            $.get('@Url.Action("Edit", "RestaurantManagement")', function (data) {
                $('#formContent').html(data);
                $('#overlay, #formModal').fadeIn();
            });
        });
        $('#btnClose, #overlay').click(function () {
            $('#overlay, #formModal').fadeOut();
        });
    </script>
}