@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model deliveryapp.ViewModels.OrdersVM
<section class="order-user-section">
    <div class="section-title">
        <h2>Tus Ordenes</h2>
    </div>
    <div class="d-flex">
        <div class="oders-list">
            <h3>Historial de ordenes</h3>
            @if (Model?.Orders != null && Model.Orders.Any())
            {
                @foreach (var item in Model.Orders)
                {
                    <a class="order-list-item" asp-controller="Order" asp-action="ShowOrderItem" asp-route-id="@item.Id">
                        <div class="order-uuid-status-container d-flex justify-content-between">
                            <div class="order-uuid fw-bold">#@item.Id</div>
                            @if (item.Status == "Pendiente")
                            {
                                <div class=""><span class="custom-badge badge-pending">@item.Status</span></div>
                            }
                            else if (item.Status == "Completado")
                            {
                                <div class=""><span class="custom-badge badge-success">@item.Status</span></div>
                            }
                            else if (item.Status == "Cancelado")
                            {
                                <div class=""><span class="custom-badge badge-canceled">@item.Status</span></div>
                            }
                        </div>
                        <div class="d-flex justify-content-between my-1">
                            <div class="order-totalprice fw-bold">S/@item.TotalAmount</div>
                            <div class="order-date text-secondary">@item.OrderDate</div>
                        </div>
                        <span class="items-amout text-secondary">@item.TotalItems items</span>
                    </a>


                }
            }else
            {

                <div>No orders found.</div>

            }
        </div>
        <div class="order-items-list">
           
            @if (Model?.OrderItems != null && Model.OrderItems.Any())
            {
                <div class="order-items-list-title">

                    <h3>Orden #@Model.OrderItems.First().OrderId<span class="text-secondary">(@Model.OrderItems.Sum(o=>o.Quantity))</span></h3>

                </div>
                foreach (var item in Model.OrderItems){
                    <div class="orderitem-item d-flex justify-content-between">
                        <div class="d-flex">
                            <img src="@item.Product.ImageUrl" alt="Alternate Text" />
                            <div class="orderitem-details  mx-2">
                                <div class="title fw-bold h5">@item.Product.Name</div>
                                <div class="description">@item.Product.Description</div>
                                <div class="text-secondary">@(item.Quantity) item</div>
                            </div>
                        </div>
                        <div class="fw-bold h6">S/@item.Price</div>
                       
                    </div>
                }

            }else{
                <div class="empty-order-items-list">
                    <h3>Selecciona una orden para ver los detalles</h3>
                </div>
            }
        </div>
    </div>
    
</section>

